include button
mixin slider(img, title="Заголовок", text="", link, name= 'Кнопка', href ='#')
    .swiper-slide(style="background-image: url(img/slider/" +img)
        .wrapper
            .hero__box
                h1.title.title-h1.hero__title=title
                .hero__prime 
                    span.text=text
                    +button(link, name, href)