.services
    padding-top: 125px
    padding-bottom: 40px
    &__title
        color: #424242
        margin-bottom: 65px
    &__box
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__card
        margin-bottom: 40px