.swiper
    &__bullet
        display: inline-block
        width: 20px
        height: 20px
        margin: 0 10px
        border: 1px solid #fff
        border-radius: 50%
        &-active
            background-color: #fff
    &-pagination
        margin-bottom: 36px