@keyframes burger
    0%
        border-radius: 0
        right: -100%
    25%
        border-top-left-radius: 30%
        border-bottom-left-radius: 30%
        
    100%
        border-top-left-radius: 0%
        border-bottom-left-radius: 0%
        right: 0
        visibility: visible
        opacity: 1
        background: #454545
        
@keyframes burgerclose
    0%
        border-radius: 0
        right: -100%
    25%
        border-top-left-radius: 30%
        border-bottom-left-radius: 30%
    100%
        border-top-left-radius: 0%
        border-bottom-left-radius: 0%
        right: 0
        visibility: visible
        opacity: 1
        background: #454545
.burger
    z-index: 110
    position: absolute
    display: block
    top: 27px
    right: 38px
    width: 60px
    height: 14px
    background-color: transparent
    border: none
    border-bottom: 2px solid #d8b152
    visibility: hidden
    opacity: 0
    &__checked
        visibility: hidden
        opacity: 0
    &::after
        position: absolute
        top: 0
        left: 0
        content: " "
        width: 100%
        height: 14%
        background: #d8b152
    &::before
        position: absolute
        top: 50%
        right: 0
        content: " "
        width: 73.4%
        height: 14%
        background: #d8b152
    &--close
        z-index: 100
        position: absolute
        display: block
        top: 27px
        right: 38px
        width: 60px
        height: 14px
        background-color: transparent
        border: none
        border-bottom: 2px solid #d8b152
        visibility: hidden
        opacity: 0
        &__checked
            visibility: hidden
            opacity: 0
        &::after
            position: absolute
            top: 0
            left: 0
            content: " "
            width: 100%
            height: 14%
            background: #d8b152
        &::before
            position: absolute
            top: 50%
            right: 0
            content: " "
            width: 73.4%
            height: 14%
            background: #d8b152
@media screen and (max-width: 999px) 
    .burger
        visibility: visible
        opacity: 1
        &__checked
            &:checked          
                & ~ .nav

                    animation-duration: 0.3s
                    animation-name: burger 
                    animation-fill-mode: both
                & ~ .burger
                    display: none
                & ~ .burger--close
                    border: none
                    height: 60px
                    &::before
                        height: 2px
                        width: 100%
                        top: 0
                        transform: rotate(45deg)
                    &::after
                        height: 2px
                        transform: rotate(-45deg)
        &--close
            visibility: visible
            opacity: 1
            &__checked
                &:checked          
                    & ~ .nav

                        animation-duration: 0.3s
                        animation-name: burgerclose
                        animation-direction: reverse 
                    & ~ .burger--close
                        border-bottom: 2px solid #d8b152
                        height: 14px
                        &::before
                            height: 2px
                            width: 73.4%
                            height: 14%
                            top: 50%
                            transform: rotate(0deg)
                        &::after
                            height: 14%
                            height: 2px
                            transform: rotate(0deg)
    


                        
  