include layout/app.pug
  block page
    a(href="main.html") Главная
    br
    a(href="media.html") Медиафайлы
    br
    a(href="countryhouse.html") Загородные дома
    br
    a(href="block.html") блоки инсклюды
