footer.footer
    .wrapper
        .footer__box 
            a.footer-logo
                img.logo(src="img/logo.png", alt="logo")
            ul.footer__info
                li.footer-info.footer__title 
                    h4.title.title-h4 Информация
                li.footer__item 
                    a.footer-link(href="#") Загородные дома
                li.footer__item 
                    a.footer-link(href="#") Квартиры
                li.footer__item 
                    a.footer-link(href="#") Нежилые помещения
                li.footer__item 
                    a.footer-link(href="#") Медиафайлы
                li.footer__item 
                    a.footer-link(href="#") О компании
            ul.footer__info
                li.footer-info.footer__title
                    h4.title.title-h4 Контакты
                li.footer__item 
                    img.footer-link__image(src="img/footer/phone.svg", alt="phone") 
                    a.footer-link(href="tel:+79510949259") + 7 (951) 094-92-59
                li.footer__item 
                    img.footer-link__image(src="img/footer/mail.svg", alt="mail") 
                    a.footer-link(href="mailto:k_d_i01@mail.ru&body=привет?subject=вопрос") k_d_i01@mail.ru
            ul.footer__info
                li.footer-info.footer__title     
                    h4.title.title-h4 Соц. cети
                li.footer__item 
                    a.footer-link.footer-link__social(href="#")
                        img.footer-link__social--image(src="img/footer/facebook.svg", alt="facebook") 
                    a.footer-link.footer-link__social(href="#")
                        img.footer-link__social--image(src="img/footer/youtube.svg", alt="youtube") 
                    a.footer-link.footer-link__social(href="#")
                        img.footer-link__social--image(src="img/footer/pinterest.svg", alt="pinterest") 
                    a.footer-link.footer-link__social(href="#")
                        img.footer-link__social--image(src="img/footer/instagram.svg", alt="instagram") 
        .footer__box.footer__box--policial
            a.footer-link(href="#") Политика конфиденциальности
            a.footer-link(href="#") designed by Linar