block header
    header.header
        .wrapper
            .header__box
                a.header-logo(href="#") 
                    img.logo(src="img/logo.png", alt="#")
                input.burger__checked(type="checkbox"  id="burger") 
                input.burger--close__checked(type="checkbox"  id="burgerclose") 
                label.burger(for="burger")
                label.burger--close(for="burgerclose")
                nav.nav(id="nav")
                    ul.nav__list 
                        li.nav__item.active 
                            a(href="#") Наши проекты
                        li.nav__item 
                            a(href="#") Медиа 
                        li.nav__item 
                            a(href="#") О нас
                        li.nav__item 
                            a(href="#") Контакты